version: 2
updates:
  # Enable version updates for Cargo
  - package-ecosystem: "cargo"
    # Location of package manifests
    directory: "/"
    schedule:
      interval: "weekly"

  # Enable version updates for GitHub Actions
  - package-ecosystem: "github-actions"
    # Workflow files stored in the default location of `.github/workflows`
    directory: "/"
    schedule:
      interval: "weekly"
